{% extends "workers/base.html" %}

{% block content %}
<a href="{% url 'workers:wRaport2' %}"><button type="button" class="btn btn-outline-primary">Sprawne Maszyny</button></a>
<a href="{% url 'workers:wRaport3' %}"><button type="button" class="btn btn-outline-primary">Pracownicy</button></a>
<a href="{% url 'workers:wRaport4' %}"><button type="button" class="btn btn-outline-primary">Wykorzystanie zasobów</button></a>
<br>
<br>
<table class="table table-responsive-sm table-striped table-hover">
<thead class="thead-dark">
<tr>
<th scope="col">Servis</th>
<th scope="col">Typ maszyny</th>
<th scope="col">Umiejętność</th>
</tr>
</thead>
<tbody>
{% for serequirement in serequirements %}
<tr>
  <td>{{ serequirement.service_code  }}</td>
  <td>{{ serequirement.machine_type }}</td>
  <td>{{ serequirement.worker_ability }}</td>
</tr>
{% endfor %}
</tbody>
</table>

{% endblock content %}
